h2 {
  color: white;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lander {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.color1 {
  background-color: #1f2937;
}
button {
  width: 120px;
  height: 30px;
}
.signup {
  display: flex;
  flex-flow: column wrap;
  max-width: 400px;
  color: white;
}
.subheader {
  display: flex;
  justify-content: center;
}
.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.images {
  display: flex;
  gap: 40px;
}
.littleimg {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}
.underimage {
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 140px;
}
.quote {
  font-size: larger;
}
a {
  text-decoration: none;
  color: gray;
}
ul {
  display: flex;
  gap: 18px;
}
li {
  list-style: none;
}
